
@{
    ViewBag.Title = "CreditInformation";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>CreditInformation</h2>
<div id="DataForm">
    <input type="button" onclick="ClickMe();" value="ClickMe" />

</div>
<script type="text/javascript">

    $(function () {
        alert("ASDF");
    });

    function ClickMe() {

        alert("asdfasd");
    }
</script>

